In [73]:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder
import numpy as np
# 라이브러리 불러오기

# 날짜 형식의 문자열로 구성되는 리스트 정의
ts_ms = pd.date_range(start='2025-01-01', end='2025-10-02', periods=100, tz='Asia/Seoul')
data = {'date': ts_ms.strftime('%Y-%m-%d')}
df = pd.DataFrame(data)
df['date'] = pd.to_datetime(df['date'])
df['year'] = df['date'].dt.year
df['month'] = df['date'].dt.month
df['day_int'] = df['date'].dt.weekday
def convert_week(x) :
    temp = ['월', '화', '수', '목', '금', '토', '일']
    return temp[x]
df['day_str'] = df['day_int'].apply(convert_week)
df['day_weekend'] = df['day_str'].isin(['토', '일']).astype(int)
df

         date  year  month  day_int day_str  day_weekend
0  2025-01-01  2025      1        2       수            0
1  2025-01-03  2025      1        4       금            0
2  2025-01-06  2025      1        0       월            0
3  2025-01-09  2025      1        3       목            0
4  2025-01-12  2025      1        6       일            1
..        ...   ...    ...      ...     ...          ...
95 2025-09-20  2025      9        5       토            1
96 2025-09-23  2025      9        1       화            0
97 2025-09-26  2025      9        4       금            0
98 2025-09-29  2025      9        0       월            0
99 2025-10-02  2025     10        3       목            0

[100 rows x 6 columns]

In [30]:
%pip install holidays

Requirement already satisfied: holidays in c:\users\31799\appdata\local\programs\python\python313\lib\site-packages (0.81)
Requirement already satisfied: python-dateutil in c:\users\31799\appdata\local\programs\python\python313\lib\site-packages (from holidays) (2.9.0.post0)
Requirement already satisfied: six>=1.5 in c:\users\31799\appdata\local\programs\python\python313\lib\site-packages (from python-dateutil->holidays) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

In [103]:
import holidays
# 한국 공휴일 데이터 가져오기
kr_holidays = holidays.KR(years=[2025])
kr_holidays.append({
    '2025-10-10' :"휴강"
})
kr_holidays = sorted(kr_holidays.items(), key=lambda x: x[0])  # 날짜순 정렬
for date, name in kr_holidays:
    print(date, name)

2025-01-01 신정연휴
2025-01-27 임시공휴일
2025-01-28 설날 전날
2025-01-29 설날
2025-01-30 설날 다음날
2025-03-01 삼일절
2025-03-03 삼일절 대체 휴일
2025-05-05 부처님오신날; 어린이날
2025-05-06 부처님오신날 대체 휴일; 어린이날 대체 휴일
2025-06-03 대통령 선거일
2025-06-06 현충일
2025-08-15 광복절
2025-10-03 개천절
2025-10-05 추석 전날
2025-10-06 추석
2025-10-07 추석 다음날
2025-10-08 추석 대체 휴일
2025-10-09 한글날
2025-10-10 휴강
2025-12-25 기독탄신일

In [ ]:
kr_holidays_dates = [date for date, name in kr_holidays]    
df['is_holiday'] = df['date'].isin(kr_holidays_dates).astype(int)
df

C:\Users\31799\AppData\Local\Temp\ipykernel_12772\484247422.py:3: FutureWarning: The behavior of 'isin' with dtype=datetime64[ns] and castable values (e.g. strings) is deprecated. In a future version, these will not be considered matching by isin. Explicitly cast to the appropriate dtype before calling isin instead.
  df['is_holiday'] = df['date'].isin(kr_holidays_dates).astype(int)

         date  year  month  day_int day_str  day_weekend  is_holiday
0  2025-01-01  2025      1        2       수            0           1
1  2025-01-03  2025      1        4       금            0           0
2  2025-01-06  2025      1        0       월            0           0
3  2025-01-09  2025      1        3       목            0           0
4  2025-01-12  2025      1        6       일            1           0
..        ...   ...    ...      ...     ...          ...         ...
95 2025-09-20  2025      9        5       토            1           0
96 2025-09-23  2025      9        1       화            0           0
97 2025-09-26  2025      9        4       금            0           0
98 2025-09-29  2025      9        0       월            0           0
99 2025-10-02  2025     10        3       목            0           0

[100 rows x 7 columns]